:root {
  --base-font-size: 16px;
  --header-height: calc(var(--base-font-size) * 5);
  --footer-height: var(--header-height);

  --padding: var(--base-font-size);
  --padding-half: calc(var(--padding) / 2);
  --padding-quarter: calc(var(--padding) / 4);
  --padding-eighth: calc(var(--padding) / 8);
  --padding-2x: calc(var(--padding) * 2);
  --padding-4x: calc(var(--padding) * 4);
  --padding-8x: calc(var(--padding) * 8);

  --gap-standard: calc(var(--padding) / 2);
  --gap-half: calc(var(--gap-standard) / 2);
  --gap-quarter: calc(var(--gap-standard) / 4);
  --gap-eighth: calc(var(--gap-standard) / 8);
  --gap-double: calc(var(--gap-standard) * 2);
  --gap-quad: calc(var(--gap-standard) * 4);
  --gap-oct: calc(var(--gap-standard) * 8);

  --header-padding: 32px;
  --padding-side: var(--padding-2x, var(--header-padding));
}
