.color-theme-toggler::before {
  content: "◠"; /* ◌ ○ ◓ ◠ */
}

.color-theme-dark .color-theme-toggler::before {
  content: "☾";
}

.color-theme-light .color-theme-toggler::before {
  content: "☼";
}
