.widget {
  /* border: 0.5px solid #4e4b4d; */
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
  width: 75vw;
  white-space: break-spaces;
}
@media screen and (orientation: landscape) {
  .widget {
    width: 30vw;
  }
}

.widget li.blog-link .tags {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  padding: 16px;
}

.widget li.blog-link .tags a::before {
  content: "[";
}

.widget li.blog-link .tags a::after {
  content: "]";
}

.widget li.blog-link > a {
  max-width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  gap: 8px;
  flex: 1;
  align-items: center;
  padding: 8px;
}

.widget li {
  min-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.widget li:hover {
  /* box-shadow: var(--box-shadow); */
  text-shadow: var(--drop-shadow);
}

.widget li:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.widget li:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.widget > * + * {
  border-top: inherit;
}

.widget li.blog a {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mini-preview header {
  color: var(--text-5);
}

@media screen and (orientation: landscape) {
  .widget li.blog-link > a {
    font-size: 2rem;
  }
}
