/* normal a ("link") tag */

a {
  color: var(--color-link);
  transition: color 1s ease-in-out;
}
a:visited {
  color: var(--color-link-visited);
}
a:active,
a:hover {
  color: var(--color-link-interaction);
}

a.link-untracked,
.link-untracked > * {
  color: var(--color-link);
}
a.link-untracked:visited,
.link-untracked > *:visited {
  color: var(--color-link);
}

a.link-untracked:active,
a.link-untracked:hover,
.link-untracked > *:active,
.link-untracked > *:hover {
  color: var(--color-link-interaction);
}

a.link-inverted {
  color: var(--color-link-alt);
}
a.link-inverted:visited {
  color: var(--color-link-alt-visited);
}
a.link-inverted:active,
a.link-inverted:hover {
  color: var(--color-link-alt-interaction);
}

a.link-inverted.link-untracked,
.link-inverted.link-untracked > * {
  color: var(--color-link-alt);
}
a.link-inverted.link-untracked:visited,
.link-inverted.link-untracked > *:visited {
  color: var(--color-link-alt);
}
a.link-inverted.link-untracked:active,
a.link-inverted.link-untracked:hover,
.link-inverted.link-untracked > *:active,
.link-inverted.link-untracked > *:hover {
  color: var(--color-link-alt-interaction);
}

a.link-surprise {
  color: var(--color-text);
}
a.link-surprise:visited {
  color: var(--color-text);
}
a.link-surprise:active,
a.link-surprise:hover {
  color: var(--color-link-interaction);
}

.link-surprise-container > a,
a.link-surprise {
  color: inherit;
}

.link-surprise-container > a:visited,
a.link-surprise:visited {
  color: inherit;
}

.link-surprise-container > a:hover,
a.link-surprise:hover {
  color: var(--color-link);
}

.link-surprise-container > a:active,
a.link-surprise:active {
  color: var(--color-link);
}

a.link-hidden {
  color: inherit;
}
a.link-hidden:visited {
  color: inherit;
}
a.link-hidden:active,
a.link-hidden:hover {
  color: inherit;
}
