.menu::part(content) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}
.menu::part(item) {
  cursor: pointer;
}
.menu::part(item):focus {
  color: red;
}
