.glowey-background-container > *,
.glowey-background {
  transition: background-color 1s ease-in-out;
  background-color: var(--color-midground);
}
.glowey-background-container > *:hover,
.glowey-background:hover {
  transition: background-color 1.5s ease-in-out;
  background-color: var(--color-foreground);
}
