.hide-n-show-landscape,
.hide-n-show-landscape-block,
.hide-n-show-landscape-flex,
.hide-n-show-landscape-grid,
.hide-n-show-landscape-inline,
.hide-n-show-landscape-inline-block,
.hide-n-show-landscape-inline-flex,
.hide-n-show-landscape-inline-grid {
  display: none !important;
}

@media screen and (orientation: landscape) {
  .hide-n-show-landscape {
    display: unset !important;
  }
  .hide-n-show-landscape-block {
    display: block !important;
  }
  .hide-n-show-landscape-flex {
    display: flex !important;
  }
  .hide-n-show-landscape-grid {
    display: grid !important;
  }
  .hide-n-show-landscape-inline {
    display: inline !important;
  }
  .hide-n-show-landscape-inline-block {
    display: inline-block !important;
  }
  .hide-n-show-landscape-inline-flex {
    display: inline-flex !important;
  }
  .hide-n-show-landscape-inline-grid {
    display: inline-grid !important;
  }
}
