.logo {
  filter: drop-shadow(var(--drop-shadow));
}

.logo path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--text-5);
  stroke-width: 0.5;
  fill-opacity: 0.0625;
  fill: var(--text-5);
  transition: fill-opacity 0.5s ease-in-out;
  cursor: pointer;
}
.logo path:hover {
  transition: fill-opacity 2s ease-in-out;
  fill-opacity: 0.5;
}
