.widget {
  display: flex;
  flex-direction: column;
  gap: 2px;
  white-space: break-spaces;
}

@media screen and (orientation: landscape) {
  .widget {
    width: 30vw;
  }
}

.widget > * + * {
  border-top: inherit;
}
.widget > * {
  /* border: 0.5px solid #4e4b4d; */
  min-height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 16px;
}
.widget > *:hover {
  text-shadow: var(--drop-shadow);
}
.widget > *:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.widget > *:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.widget > * > * {
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  gap: 8px;
  align-items: center;
  flex: 0 0 auto;
}
.widget > * header {
  font-weight: bold;
  color: var(--color-text--highlight);
}

.widget .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px;
}
.widget .tags a {
  display: unset;
}
.widget .tags a::before {
  content: "[";
}
.widget .tags a::after {
  content: "]";
}
.widget .blog-preview a {
  flex-direction: column;
}
.widget .tags > a,
.widget .blog-preview > a {
  font-size: inherit;
}
.widget .blog-preview > * {
  width: 100%;
  align-content: stretch;
}
@media screen and (orientation: Landscape) {
  .widget .tags {
    font-size: 0.75rem;
  }
}
