:root {
  --earth-00: #efeae1;
  --earth-01: #efdab9;
  --earth-02: #8e8373;
  --earth-03: #786f63;
  --earth-04: #574c4f;
  --earth-05: #584b4f;
  --earth-06: #3d3a3a;
  --earth-07: #343233;
  --earth-08: #2c2a2b;
  --earth-09: #1a191a;

  --sun-00: #ebcc76;
  --sun-01: #ffd152;
  --sun-02: #ffc31f;
  --sun-03: #ebac00;
  --sun-04: #dda031;

  --grass-00: #78b0a0;
  --grass-01: #78b09f;
  --grass-02: #5c8875;

  --uranium-00: #70d5be;
  --uranium-01: #45edc6;
  --uranium-02: #17dfb1;

  --brick-00: #d36e2d;
  --brick-01: #d36e2d;
  --brick-02: #a55523;

  --water-00: #74c5e8;
  --water-01: #649cc8;
  --water-02: #5b94d0;

  --color-utility-transparent-black: #00000000;
  --color-utility-transparent-white: #ffffff00;
  --color-utility-translucent-black: #00000080;
  --color-utility-translucent-white: #ffffff80;
}
