---
import SettingsMeta from "../components/SettingsMeta.astro";
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style/classes/settings-meta.css" />
  </head>
  <body>
    <h1>Settings Meta</h1>
    <p>Metadata passed to the build process.</p>
    <SettingsMeta class="settings-meta"/>
  </body>
</html>
