---
import * as SETTINGS from '../SETTINGS.mjs';
import DEFAULTS from '../SETTINGS.mjs';
// Todo: "import DEFAULTS, * as SETTINGS from '../SETTINGS.mjs'";
// causes SETTINGS to reset w/o awarness of the import.meta variables.
const {class:className=null} = Astro.props;
---
<table class={className} >
  <tr>
    <th>KEY</th>
    <th>DEFAULT</th>
    <th>ENV</th>
    <th>FINAL</th>
  </tr>
  {Object.keys(DEFAULTS).map((key) => (
    <tr>
      <td>{key}</td>
      { [DEFAULTS[key], import.meta.env[key], SETTINGS[key]  ].map((value) => (<td>{
Array.isArray(value)
    ? <ul>{value.map(v=><li>{v}</li>)}</ul>
    : typeof value === "string" ?
      (`"`+value+`"`)
      : value
        }</td>))
      }
    </tr>
  ))}
</table>


<!-- {Array.isArray(value)
    ? <ul>{value.map(v=><li>{v}</li>)}</ul>
    : typeof value === "string" ?
      (`"`+value+`"`)
      : value} -->
