.holy-grail > header {
  background: #ffcdd2;
}
.holy-grail > aside {
  background: #e1bee7;
}
.holy-grail > nav {
  background: #bbdefb;
}
.holy-grail > main {
  background: #dcedc8;
}
.holy-grail > footer {
  background: #ffecb3;
}
